{% load static %}
<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        {# Теперь product.image_url доступен, так как мы передали объект #}
        <img src="{% static product.image_url %}" alt="{{ product.name }}">
        <span class="card-title">{{ product.name }}</span>
      </div>
      <div class="card-content">
        {# Обращаемся к свойствам через product. #}
        <h3>{{ product.price }}$</h3>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
</div>